---
import { workExperiences } from '../data/work-experiences';
import Time from './Time.astro';
---

<section>
	<header>
		<h1>Work Experience</h1>
	</header>
	<ul>
		{
			workExperiences.map((experience) => (
				<li>
					<article class="work_experience">
						<header>
							<h1>{experience.company}</h1>
							<div>
								<time datetime={experience.startDate.toISOString()}>2023</time> -{' '}
								<Time time={experience.endDate} />
							</div>
						</header>
						<h2>{experience.role}</h2>
						<p>{experience.description}</p>
						<ul class="list_tech">
							{experience.technologies.map((tech) => (
								<li>{tech}</li>
							))}
						</ul>
					</article>
				</li>
			))
		}
	</ul>
</section>

<style>
	ul {
		list-style: none;
		padding-left: 0;
	}

	section > ul {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.work_experience {
		display: flex;
		flex-direction: column;

		& header {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		& h1 {
			font-size: 0.9em;
			margin: 0;
		}

		& h2 {
			font-size: 0.6em;
			margin: 0;
		}
	}

	.list_tech {
		display: flex;
		gap: 12px;
		font-size: 0.6em;

		& li {
			padding: 6px 12px;
			background-color: rgb(255, 255, 255, 0.1);
			border-radius: 4px;
		}
	}
</style>
